$color-grey-light-1: #fcfcfc;
$color-grey-light-2: #fafafa;
$color-grey-light-3: #f5f5f5;
$color-grey-dark-1: #dcdcdc;

$color-primary: #9E9E9E;
$color-accent: #FF5722;
$color-warn: #F44336;
$color-success: green;
$color-default: #f5f5f5;

$color-white: #fff;
$color-black: #000;

$color-icon-grey: rgba(0, 0, 0, 0.54);