@import 'variables';

.message {
  display: flex;
  margin-bottom: 2rem;
  min-height: min-content;
}

.author-photo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 3rem;
  margin-top: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.message-main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 100%;
}

.bubble {
  height: 100%;
  max-width: auto;
  background-color: $color-accent;
  border-radius: 0.3rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: left;

  &::before {
    content: "";
    width: 2rem;
    height: 2rem;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color:  $color-accent;
    display: block;
    transform: translateX(-1rem);
  }
}

.message-content {
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin: 0;
  display: inline-block;
  color: $color-default;
}


